<!DOCTYPE html>
<html lang="zxx"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Layout}">

<head>

    <meta charset="UTF-8">

    <meta name="description" content="Ashion Shopping Cart">
    <meta name="keywords" content="Ashion, shopping cart, ecommerce">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ashion | Shopping Cart</title>

</head>

<body>

<div layout:fragment="content">

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">

        <div class="container">

            <div class="row">

                <div class="col-lg-12">

                    <div class="breadcrumb__links">

                        <a th:href="@{/}">
                            <i class="fa fa-home"></i>
                            Home
                        </a>

                        <span>
                            Shopping cart
                        </span>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- Breadcrumb End -->


    <!-- Shopping Cart Section Begin -->
    <section class="shop-cart spad">

        <div class="container">

            <div class="row">

                <div class="col-lg-12">

                    <div class="shop__cart__table">

                        <table>

                            <thead>

                            <tr>

                                <th>
                                    Product
                                </th>

                                <th>
                                    Price
                                </th>

                                <th>
                                    Quantity
                                </th>

                                <th>
                                    Total
                                </th>

                                <th></th>

                            </tr>

                            </thead>


                            <tbody>


                            <!-- Product 1 -->
                            <tr>

                                <td class="cart__product__item">

                                    <img src="/front/img/shop-cart/cp-1.jpg"
                                         alt="Chain bucket bag">

                                    <div class="cart__product__item__title">

                                        <h6>
                                            Chain bucket bag
                                        </h6>

                                        <div class="rating">

                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>

                                        </div>

                                    </div>

                                </td>


                                <td class="cart__price">
                                    $ 150.0
                                </td>


                                <td class="cart__quantity">

                                    <div class="pro-qty">

                                        <input type="text"
                                               value="1">

                                    </div>

                                </td>


                                <td class="cart__total">
                                    $ 150.0
                                </td>


                                <td class="cart__close">

                                    <span class="icon_close"></span>

                                </td>

                            </tr>


                            <!-- Product 2 -->
                            <tr>

                                <td class="cart__product__item">

                                    <img src="/front/img/shop-cart/cp-2.jpg"
                                         alt="Zip-pockets pebbled tote briefcase">

                                    <div class="cart__product__item__title">

                                        <h6>
                                            Zip-pockets pebbled tote briefcase
                                        </h6>

                                        <div class="rating">

                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>

                                        </div>

                                    </div>

                                </td>


                                <td class="cart__price">
                                    $ 170.0
                                </td>


                                <td class="cart__quantity">

                                    <div class="pro-qty">

                                        <input type="text"
                                               value="1">

                                    </div>

                                </td>


                                <td class="cart__total">
                                    $ 170.0
                                </td>


                                <td class="cart__close">

                                    <span class="icon_close"></span>

                                </td>

                            </tr>


                            <!-- Product 3 -->
                            <tr>

                                <td class="cart__product__item">

                                    <img src="/front/img/shop-cart/cp-3.jpg"
                                         alt="Black jean">

                                    <div class="cart__product__item__title">

                                        <h6>
                                            Black jean
                                        </h6>

                                        <div class="rating">

                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>

                                        </div>

                                    </div>

                                </td>


                                <td class="cart__price">
                                    $ 85.0
                                </td>


                                <td class="cart__quantity">

                                    <div class="pro-qty">

                                        <input type="text"
                                               value="1">

                                    </div>

                                </td>


                                <td class="cart__total">
                                    $ 85.0
                                </td>


                                <td class="cart__close">

                                    <span class="icon_close"></span>

                                </td>

                            </tr>


                            <!-- Product 4 -->
                            <tr>

                                <td class="cart__product__item">

                                    <img src="/front/img/shop-cart/cp-4.jpg"
                                         alt="Cotton Shirt">

                                    <div class="cart__product__item__title">

                                        <h6>
                                            Cotton Shirt
                                        </h6>

                                        <div class="rating">

                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>

                                        </div>

                                    </div>

                                </td>


                                <td class="cart__price">
                                    $ 55.0
                                </td>


                                <td class="cart__quantity">

                                    <div class="pro-qty">

                                        <input type="text"
                                               value="1">

                                    </div>

                                </td>


                                <td class="cart__total">
                                    $ 55.0
                                </td>


                                <td class="cart__close">

                                    <span class="icon_close"></span>

                                </td>

                            </tr>


                            </tbody>

                        </table>

                    </div>

                </div>

            </div>


            <!-- Cart Buttons -->
            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-6">

                    <div class="cart__btn">

                        <a th:href="@{/shop}">
                            Continue Shopping
                        </a>

                    </div>

                </div>


                <div class="col-lg-6 col-md-6 col-sm-6">

                    <div class="cart__btn update__btn">

                        <a href="#">

                            <span class="icon_loading"></span>

                            Update cart

                        </a>

                    </div>

                </div>

            </div>


            <!-- Coupon + Total -->
            <div class="row">

                <!-- Coupon -->
                <div class="col-lg-6">

                    <div class="discount__content">

                        <h6>
                            Discount codes
                        </h6>

                        <form action="#">

                            <input type="text"
                                   placeholder="Enter your coupon code">

                            <button type="submit"
                                    class="site-btn">

                                Apply

                            </button>

                        </form>

                    </div>

                </div>


                <!-- Cart Total -->
                <div class="col-lg-4 offset-lg-2">

                    <div class="cart__total__procced">

                        <h6>
                            Cart total
                        </h6>

                        <ul>

                            <li>
                                Subtotal
                                <span>
                                    $ 460.0
                                </span>
                            </li>

                            <li>
                                Total
                                <span>
                                    $ 460.0
                                </span>
                            </li>

                        </ul>


                        <a href="#"
                           class="primary-btn">

                            Proceed to checkout

                        </a>

                    </div>

                </div>

            </div>

        </div>

    </section>
    <!-- Shopping Cart Section End -->

</div>


<!-- JavaScript -->

<script th:src="@{/front/js/jquery-3.3.1.min.js}"></script>

<script th:src="@{/front/js/bootstrap.min.js}"></script>

<script th:src="@{/front/js/jquery.magnific-popup.min.js}"></script>

<script th:src="@{/front/js/jquery-ui.min.js}"></script>

<script th:src="@{/front/js/mixitup.min.js}"></script>

<script th:src="@{/front/js/jquery.countdown.min.js}"></script>

<script th:src="@{/front/js/jquery.slicknav.js}"></script>

<script th:src="@{/front/js/owl.carousel.min.js}"></script>

<script th:src="@{/front/js/jquery.nicescroll.min.js}"></script>

<script th:src="@{/front/js/main.js}"></script>

</body>

</html>

