<!DOCTYPE html>
<html lang="zxx"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf"
      layout:decorate="~{Layout}">

<head>

    <meta charset="UTF-8">

    <meta name="description" content="Ashion Shopping Cart">
    <meta name="keywords" content="Ashion, shopping cart, ecommerce">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ashion | Shopping Cart</title>

</head>

<body>

<div layout:fragment="content">

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">

        <div class="container">

            <div class="row">

                <div class="col-lg-12">

                    <div class="breadcrumb__links">

                        <a th:href="@{/}">
                            <i class="fa fa-home"></i>
                            Home
                        </a>

                        <span>
                            Shopping cart
                        </span>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- Breadcrumb End -->


    <!-- Shopping Cart Section Begin -->
    <section class="shop-cart spad">

        <div class="container">

            <div class="row">

                <div class="col-lg-12">

                    <div class="shop__cart__table">

                        <table>

                            <thead>

                            <tr>

                                <th>Product</th>

                                <th>Price</th>

                                <th>Quantity</th>

                                <th>Total</th>

                                <th></th>

                            </tr>

                            </thead>


                            <tbody>

                            <!-- Empty Cart -->
                            <tr th:if="${#lists.isEmpty(carts)}">

                                <td colspan="5"
                                    style="text-align: center; padding: 50px;">

                                    <h5>
                                        Your cart is empty.
                                    </h5>

                                    <a th:href="@{/shop}"
                                       class="primary-btn"
                                       style="margin-top: 20px;">

                                        Continue Shopping

                                    </a>

                                </td>

                            </tr>


                            <!-- Cart Products -->
                            <tr th:each="cart : ${carts}">

                                <!-- Product -->
                                <td class="cart__product__item">

                                    <img src="/front/img/shop-cart/cp-1.jpg"
                                         alt="Product">

                                    <div class="cart__product__item__title">

                                        <h6 th:text="${cart.displayName}">
                                            Product Name
                                        </h6>

                                        <div class="rating">

                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>

                                        </div>

                                    </div>

                                </td>


                                <!-- Price -->
                                <td class="cart__price">

                                    $
                                    <span th:text="${cart.resultPrice}">
                                        0.00
                                    </span>

                                </td>


                                <!-- Quantity -->
                                <td class="cart__quantity">

                                    <form th:action="@{/cart/update}"
                                          method="post">

                                        <input type="hidden"
                                               name="cartId"
                                               th:value="${cart.id}">

                                        <div class="pro-qty">

                                            <input type="number"
                                                   name="quantity"
                                                   th:value="${cart.quantity}"
                                                   min="1">

                                        </div>

                                        <button type="submit"
                                                style="
                                                    margin-top: 10px;
                                                    border: none;
                                                    background: none;
                                                    color: #ca1515;
                                                    cursor: pointer;
                                                ">

                                            Update

                                        </button>

                                    </form>

                                </td>


                                <!-- Total -->
                                <td class="cart__total">

                                    $
                                    <span th:text="${cart.totalPrice}">
                                        0.00
                                    </span>

                                </td>


                                <!-- Delete -->
                                <td class="cart__close">

                                    <a th:href="@{/cart/delete/{id}(id=${cart.id})}"
                                       title="Remove">

                                        <span class="icon_close"></span>

                                    </a>

                                </td>

                            </tr>

                            </tbody>

                        </table>

                    </div>

                </div>

            </div>


            <!-- Cart Buttons -->
            <div class="row">

                <!-- Continue Shopping -->
                <div class="col-lg-6 col-md-6 col-sm-6">

                    <div class="cart__btn">

                        <a th:href="@{/shop}">
                            Continue Shopping
                        </a>

                    </div>

                </div>


                <!-- Update Cart -->
                <div class="col-lg-6 col-md-6 col-sm-6">

                    <div class="cart__btn update__btn">

                        <a th:href="@{/cart}">

                            <span class="icon_loading"></span>

                            Refresh Cart

                        </a>

                    </div>

                </div>

            </div>

        </div>

    </section>
    <!-- Shopping Cart Section End -->

</div>

</body>

</html>

