<!DOCTYPE html>
<html lang="zxx"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Layout}">

<div layout:fragment="content">

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a th:href="@{/}">
                            <i class="fa fa-home"></i> Home
                        </a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">

                <!-- ================= SIDEBAR ================= -->
                <div class="col-lg-3 col-md-3">
                    <div class="shop__sidebar">

                        <!-- Categories -->
                        <div class="sidebar__categories">

                            <div class="section-title">
                                <h4>Categories</h4>
                            </div>

                            <div class="categories__accordion">

                                <div class="accordion" id="accordionExample">

                                    <!-- Women -->
                                    <div class="card">

                                        <div class="card-heading active">
                                            <a data-toggle="collapse"
                                               data-target="#collapseOne">
                                                Women
                                            </a>
                                        </div>

                                        <div id="collapseOne"
                                             class="collapse show"
                                             data-parent="#accordionExample">

                                            <div class="card-body">
                                                <ul>
                                                    <li>
                                                        <a href="#">Coats</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Jackets</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Dresses</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Shirts</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">T-shirts</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Jeans</a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>

                                    </div>


                                    <!-- Men -->
                                    <div class="card">

                                        <div class="card-heading">
                                            <a data-toggle="collapse"
                                               data-target="#collapseTwo">
                                                Men
                                            </a>
                                        </div>

                                        <div id="collapseTwo"
                                             class="collapse"
                                             data-parent="#accordionExample">

                                            <div class="card-body">
                                                <ul>
                                                    <li>
                                                        <a href="#">Coats</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Jackets</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Dresses</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Shirts</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">T-shirts</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Jeans</a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>

                                    </div>


                                    <!-- Kids -->
                                    <div class="card">

                                        <div class="card-heading">
                                            <a data-toggle="collapse"
                                               data-target="#collapseThree">
                                                Kids
                                            </a>
                                        </div>

                                        <div id="collapseThree"
                                             class="collapse"
                                             data-parent="#accordionExample">

                                            <div class="card-body">
                                                <ul>
                                                    <li>
                                                        <a href="#">Coats</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Jackets</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Dresses</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Shirts</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">T-shirts</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Jeans</a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>

                                    </div>


                                    <!-- Accessories -->
                                    <div class="card">

                                        <div class="card-heading">
                                            <a data-toggle="collapse"
                                               data-target="#collapseFour">
                                                Accessories
                                            </a>
                                        </div>

                                        <div id="collapseFour"
                                             class="collapse"
                                             data-parent="#accordionExample">

                                            <div class="card-body">
                                                <ul>
                                                    <li>
                                                        <a href="#">Coats</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Jackets</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Dresses</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Shirts</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">T-shirts</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Jeans</a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>

                                    </div>


                                    <!-- Cosmetic -->
                                    <div class="card">

                                        <div class="card-heading">
                                            <a data-toggle="collapse"
                                               data-target="#collapseFive">
                                                Cosmetic
                                            </a>
                                        </div>

                                        <div id="collapseFive"
                                             class="collapse"
                                             data-parent="#accordionExample">

                                            <div class="card-body">
                                                <ul>
                                                    <li>
                                                        <a href="#">Coats</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Jackets</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Dresses</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Shirts</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">T-shirts</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Jeans</a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                        <!-- Categories End -->


                        <!-- Price Filter -->
                        <div class="sidebar__filter">

                            <div class="section-title">
                                <h4>Shop by price</h4>
                            </div>

                            <div class="filter-range-wrap">

                                <div class="price-range ui-slider
                                            ui-corner-all
                                            ui-slider-horizontal
                                            ui-widget
                                            ui-widget-content"
                                     data-min="0"
                                     data-max="1000">
                                </div>

                                <div class="range-slider">

                                    <div class="price-input">

                                        <p>Price:</p>

                                        <input type="text"
                                               id="minamount">

                                        <input type="text"
                                               id="maxamount">

                                    </div>

                                </div>

                            </div>

                            <a href="#">Filter</a>

                        </div>
                        <!-- Price Filter End -->


                        <!-- Sizes -->
                        <div class="sidebar__sizes">

                            <div class="section-title">
                                <h4>Shop by size</h4>
                            </div>

                            <div class="size__list">

                                <label for="xxs">
                                    xxs
                                    <input type="checkbox" id="xxs">
                                    <span class="checkmark"></span>
                                </label>

                                <label for="xs">
                                    xs
                                    <input type="checkbox" id="xs">
                                    <span class="checkmark"></span>
                                </label>

                                <label for="s">
                                    s
                                    <input type="checkbox" id="s">
                                    <span class="checkmark"></span>
                                </label>

                                <label for="m">
                                    m
                                    <input type="checkbox" id="m">
                                    <span class="checkmark"></span>
                                </label>

                                <label for="l">
                                    l
                                    <input type="checkbox" id="l">
                                    <span class="checkmark"></span>
                                </label>

                                <label for="xl">
                                    xl
                                    <input type="checkbox" id="xl">
                                    <span class="checkmark"></span>
                                </label>

                            </div>

                        </div>
                        <!-- Sizes End -->

                    </div>
                </div>
                <!-- ================= SIDEBAR END ================= -->


                <!-- ================= PRODUCTS ================= -->
                <div class="col-lg-9 col-md-9">

                    <div class="row">

                        <!-- Dynamic Product -->
                        <div class="col-lg-4 col-md-6"
                             th:each="product : ${products}">

                            <div class="product__item">

                                <!-- Product Image -->
                                <div class="product__item__pic set-bg"
                                     data-setbg="/front/img/shop/shop-1.jpg">

                                    <ul class="product__hover">

                                        <!-- Image -->
                                        <li>
                                            <a href="/front/img/shop/shop-1.jpg"
                                               class="image-popup">

                                                <span class="arrow_expand"></span>

                                            </a>
                                        </li>

                                        <!-- Wishlist -->
                                        <li>
                                            <a href="#">

                                                <span class="icon_heart_alt"></span>

                                            </a>
                                        </li>

                                        <!-- Detail -->
                                        <li>
                                            <a th:href="@{/shop/detail/{id}(id=${product.id})}">

                                                <span class="icon_bag_alt"></span>

                                            </a>
                                        </li>

                                    </ul>

                                </div>
                                <!-- Product Image End -->


                                <!-- Product Information -->
                                <div class="product__item__text">

                                    <h6>

                                        <a th:href="@{/shop/detail/{id}(id=${product.id})}"
                                           th:text="${product.name}">

                                            Product Name

                                        </a>

                                    </h6>


                                    <!-- Rating -->
                                    <div class="rating">

                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>

                                    </div>


                                    <!-- Price -->
                                    <div class="product__price">

                                        $
                                        <span th:text="${product.price}">
                                            0.00
                                        </span>

                                    </div>

                                </div>
                                <!-- Product Information End -->

                            </div>

                        </div>
                        <!-- Dynamic Product End -->


                        <!-- No Products -->
                        <div class="col-lg-12"
                             th:if="${products == null or #lists.isEmpty(products)}">

                            <div class="text-center">

                                <h4>
                                    No products available.
                                </h4>

                            </div>

                        </div>
                        <!-- No Products End -->


                        <!-- Pagination -->
                        <div class="col-lg-12 text-center">

                            <div class="pagination__option">

                                <a href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>

                                <a href="#">
                                    <i class="fa fa-angle-right"></i>
                                </a>

                            </div>

                        </div>
                        <!-- Pagination End -->

                    </div>

                </div>
                <!-- ================= PRODUCTS END ================= -->

            </div>
        </div>
    </section>
    <!-- Shop Section End -->

</div>


<!-- ========================================================= -->
<!-- CSS -->
<!-- ========================================================= -->

<head>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
          rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          th:href="@{/front/css/bootstrap.min.css}">

    <!-- Font Awesome -->
    <link rel="stylesheet"
          th:href="@{/front/css/font-awesome.min.css}">

    <!-- Elegant Icons -->
    <link rel="stylesheet"
          th:href="@{/front/css/elegant-icons.css}">

    <!-- Magnific Popup -->
    <link rel="stylesheet"
          th:href="@{/front/css/magnific-popup.css}">

    <!-- Nice Select -->
    <link rel="stylesheet"
          th:href="@{/front/css/nice-select.css}">

    <!-- Owl Carousel -->
    <link rel="stylesheet"
          th:href="@{/front/css/owl.carousel.min.css}">

    <!-- Slick Nav -->
    <link rel="stylesheet"
          th:href="@{/front/css/slicknav.min.css}">

    <!-- Main CSS -->
    <link rel="stylesheet"
          th:href="@{/front/css/style.css}">

</head>


<!-- ========================================================= -->
<!-- JS -->
<!-- ========================================================= -->

<script th:src="@{/front/js/jquery-3.3.1.min.js}"></script>

<script th:src="@{/front/js/bootstrap.min.js}"></script>

<script th:src="@{/front/js/jquery.magnific-popup.min.js}"></script>

<script th:src="@{/front/js/jquery-ui.min.js}"></script>

<script th:src="@{/front/js/mixitup.min.js}"></script>

<script th:src="@{/front/js/jquery.countdown.min.js}"></script>

<script th:src="@{/front/js/jquery.slicknav.js}"></script>

<script th:src="@{/front/js/owl.carousel.min.js}"></script>

<script th:src="@{/front/js/jquery.nicescroll.min.js}"></script>

<script th:src="@{/front/js/main.js}"></script>

</html>
