<!DOCTYPE html>
<html lang="zxx"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf"
      layout:decorate="~{Layout}">

<head>

    <meta charset="UTF-8">

    <meta name="description" content="Ashion Shop Product Detail">

    <meta name="keywords" content="Ashion, shop, product, ecommerce">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:text="${product.name} + ' | Ashion'">
        Product Detail
    </title>

</head>

<body>

<div layout:fragment="content">

    <!-- Breadcrumb -->
    <div class="breadcrumb-option">

        <div class="container">

            <div class="row">

                <div class="col-lg-12">

                    <div class="breadcrumb__links">

                        <a th:href="@{/}">
                            <i class="fa fa-home"></i>
                            Home
                        </a>

                        <a th:href="@{/shop}">
                            Shop
                        </a>

                        <span th:text="${product.name}">
                            Product
                        </span>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- Breadcrumb End -->


    <!-- Product Details -->
    <section class="product-details spad">

        <div class="container">

            <div class="row">

                <!-- Product Image -->
                <div class="col-lg-6">

                    <div class="product__details__pic">

                        <div class="product__details__pic__item">

                            <img class="product__details__pic__item--large"
                                 src="/front/img/product/product-1.jpg"
                                 th:alt="${product.name}">

                        </div>

                    </div>

                </div>
                <!-- Product Image End -->


                <!-- Product Information -->
                <div class="col-lg-6">

                    <div class="product__details__text">

                        <!-- Product Name -->
                        <h3 th:text="${product.name}">
                            Product Name
                        </h3>


                        <!-- Rating -->
                        <div class="rating">

                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>

                        </div>


                        <!-- Price -->
                        <div class="product__details__price">

                            <!-- Discount Price -->
                            <span th:if="${product.discountPrice != null
                                    and product.discountPrice.compareTo(T(java.math.BigDecimal).ZERO) > 0}">

                                $
                                <span th:text="${product.discountPrice}">
                                    0.00
                                </span>

                            </span>


                            <!-- Normal Price -->
                            <span th:if="${product.discountPrice == null
                                    or product.discountPrice.compareTo(T(java.math.BigDecimal).ZERO) <= 0}">

                                $
                                <span th:text="${product.price}">
                                    0.00
                                </span>

                            </span>

                        </div>


                        <!-- Description -->
                        <p th:text="${product.description}">
                            Product description
                        </p>


                        <!-- Add To Cart -->
                        <form th:action="@{/cart}"
                              method="post">

                            <!-- Product ID -->
                            <input type="hidden"
                                   name="productId"
                                   th:value="${product.id}">


                            <div class="product__details__button">

                                <!-- Quantity -->
                                <div class="quantity">

                                    <span>
                                        Quantity:
                                    </span>

                                    <div class="pro-qty">

                                        <input type="number"
                                               name="quantity"
                                               value="1"
                                               min="1">

                                    </div>

                                </div>


                                <!-- Add To Cart Button -->
                                <button type="submit"
                                        class="cart-btn"
                                        style="border: none;">

                                    <span class="icon_bag_alt"></span>

                                    Add to cart

                                </button>


                                <!-- Wishlist / Compare -->
                                <ul>

                                    <li>

                                        <a href="#">

                                            <span class="icon_heart_alt"></span>

                                        </a>

                                    </li>

                                    <li>

                                        <a href="#">

                                            <span class="icon_adjust-horiz"></span>

                                        </a>

                                    </li>

                                </ul>

                            </div>

                        </form>
                        <!-- Add To Cart End -->


                        <!-- Product Information -->
                        <div class="product__details__widget">

                            <ul>

                                <!-- Availability -->
                                <li>

                                    <span>
                                        Availability:
                                    </span>

                                    <div class="stock__checkbox">

                                        <label for="stockin">

                                            In Stock

                                            <input type="checkbox"
                                                   id="stockin"
                                                   checked
                                                   disabled>

                                            <span class="checkmark"></span>

                                        </label>

                                    </div>

                                </li>


                                <!-- Shipping -->
                                <li>

                                    <span>
                                        Shipping:
                                    </span>

                                    <p>
                                        Free shipping
                                    </p>

                                </li>


                                <!-- Product ID -->
                                <li>

                                    <span>
                                        Product ID:
                                    </span>

                                    <p th:text="${product.id}">
                                        0
                                    </p>

                                </li>

                            </ul>

                        </div>

                    </div>

                </div>
                <!-- Product Information End -->

            </div>


            <!-- Product Description -->
            <div class="row">

                <div class="col-lg-12">

                    <div class="product__details__tab">

                        <!-- Tabs -->
                        <ul class="nav nav-tabs"
                            role="tablist">

                            <li class="nav-item">

                                <a class="nav-link active"
                                   data-toggle="tab"
                                   href="#tabs-1"
                                   role="tab">

                                    Description

                                </a>

                            </li>


                            <li class="nav-item">

                                <a class="nav-link"
                                   data-toggle="tab"
                                   href="#tabs-2"
                                   role="tab">

                                    Specification

                                </a>

                            </li>

                        </ul>


                        <!-- Tab Content -->
                        <div class="tab-content">

                            <!-- Description Tab -->
                            <div class="tab-pane active"
                                 id="tabs-1"
                                 role="tabpanel">

                                <h6>
                                    Description
                                </h6>

                                <p th:text="${product.description}">
                                    Product description
                                </p>

                            </div>


                            <!-- Specification Tab -->
                            <div class="tab-pane"
                                 id="tabs-2"
                                 role="tabpanel">

                                <h6>
                                    Specification
                                </h6>

                                <p th:text="${product.specification}">
                                    Product specification
                                </p>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>
    <!-- Product Details End -->

</div>

</body>

</html>

